/***************************
****************************
Variables
****************************
***************************/
/***************************
****************************
Responsive
****************************
***************************/
.show-xs,
.show-s,
.show-m,
.show-xl {
  display: none;
}
@media (min-width: 1200px) {
  .hide-xl {
    display: none !important;
  }
  .show-xl {
    display: block;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .hide-m {
    display: none !important;
  }
  .show-m {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .hide-s {
    display: none !important;
  }
  .show-s {
    display: block;
  }
}
@media (max-width: 767px) {
  .hide-xs {
    display: none !important;
  }
  .show-xs {
    display: block;
  }
}
/***************************
****************************
Fonts
****************************
***************************/
@font-face {
  font-family: 'proxima_nova_regular';
  src: url('../fonts/proximanova-reg-webfont.eot');
  src: url('../fonts/proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-reg-webfont.woff') format('woff'), url('../fonts/proximanova-reg-webfont.ttf') format('truetype'), url('../fonts/proximanova-reg-webfont.svg#proxima_nova_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_semibold';
  src: url('../fonts/proximanova-sbold-webfont.eot');
  src: url('../fonts/proximanova-sbold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-sbold-webfont.woff2') format('woff2'), url('../fonts/proximanova-sbold-webfont.woff') format('woff'), url('../fonts/proximanova-sbold-webfont.ttf') format('truetype'), url('../fonts/proximanova-sbold-webfont.svg#proxima_novasemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_bold';
  src: url('../fonts/proximanova-bold-webfont.eot');
  src: url('../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-bold-webfont.woff2') format('woff2'), url('../fonts/proximanova-bold-webfont.woff') format('woff'), url('../fonts/proximanova-bold-webfont.ttf') format('truetype'), url('../fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueLTStd-Bd';
  src: url('../fonts/HelveticaNeueLTStd-Bd_gdi.eot');
  src: url('../fonts/HelveticaNeueLTStd-Bd_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueLTStd-Bd_gdi.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-Bd_gdi.ttf') format('truetype'), url('../fonts/HelveticaNeueLTStd-Bd_gdi.otf') format('opentype'), url('../fonts/HelveticaNeueLTStd-Bd_gdi.svg#HelveticaNeueLTStd-Bd') format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}
@font-face {
  font-family: 'HelveticaNeueLTStd-Roman';
  src: url('../fonts/HelveticaNeueLTStd-Roman_gdi.eot');
  src: url('../fonts/HelveticaNeueLTStd-Roman_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueLTStd-Roman_gdi.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-Roman_gdi.ttf') format('truetype'), url('../fonts/HelveticaNeueLTStd-Roman_gdi.otf') format('opentype'), url('../fonts/HelveticaNeueLTStd-Roman_gdi.svg#HelveticaNeueLTStd-Roman') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}
/***************************
****************************
Buttons and Links
****************************
***************************/
.btn {
  border: none;
}
.btn.bwo-btn {
  background: url("../images/bg-btn-2.png") repeat-x 0 0;
  box-shadow: none;
  color: #444242;
  border-radius: 4px;
  padding: 0 12px;
  height: 33px;
  line-height: 33px;
}
.btn.bwo-btn.bwo-btn-empty {
  box-shadow: none;
  background: none;
  padding: 0;
  height: auto;
  line-height: normal;
}
.btn.bwo-btn.bwo-btn-1,
.btn.bwo-btn.active {
  box-shadow: none;
  color: white;
  background: url("../images/bg-btn-1.png") repeat-x 0 0;
}
.btn.bwo-btn.bwo-btn-1:hover,
.btn.bwo-btn.active:hover {
  color: white;
}
.btn.bwo-btn.bwo-btn-3 {
  font-family: 'proxima_nova_bold';
  font-size: 18px;
  color: black;
  border: 1px solid #c7c7c7;
  background: url("../images/bg-btn-3.png") repeat-x 0 0;
  height: 40px;
  line-height: 40px;
  padding: 0 18px;
}
@media (min-width: 768px) and (max-width: 992px) {
  .btn.bwo-btn.bwo-btn-3 {
    padding: 0 10px;
  }
}
.btn.bwo-btn.bwo-btn-4 {
  font-family: 'proxima_nova_bold';
  font-size: 18px;
  color: black;
  border: 1px solid #c7c7c7;
  background: url("../images/bg-btn-4.png") repeat-x 0 0;
  height: 60px;
  line-height: 60px;
  padding: 0 24px;
  width: 179px;
  text-transform: uppercase;
  text-align: left;
  position: relative;
}
.btn.bwo-btn.bwo-btn-4 i {
  font-size: 30px;
  position: absolute;
  top: 0;
  right: 24px;
  height: 60px;
  line-height: 60px;
}
.btn.bwo-btn.bwo-btn-4.red i {
  color: #ed1c24;
}
.btn.bwo-btn.bwo-btn-4.green i {
  color: #09c948;
}
.btn.bwo-btn.bwo-btn-5 {
  font-family: 'HelveticaNeueLTStd-Roman';
  font-weight: normal;
  background: #09c948;
  height: 60px;
  line-height: 60px;
  width: 179px;
  color: white;
  padding: 0 24px;
  text-align: left;
  font-size: 28px;
}
.btn.bwo-btn.bwo-btn-6 {
  font-family: 'proxima_nova_bold';
  font-size: 14px;
  color: black;
  border: 1px solid #c7c7c7;
  background: url("../images/bg-btn-6.png") repeat-x 0 0;
  height: 32px;
  line-height: 32px;
  padding: 0 18px;
}
.btn.bwo-btn.bwo-btn-7 {
  font-family: 'proxima_nova_bold';
  font-size: 16px;
  color: black;
  background: url("../images/bg-btn-7.png") repeat-x 0 0;
  height: 42px;
  line-height: 42px;
  width: 145px;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}
/***************************
****************************
General Styles
****************************
***************************/
body {
  background-color: #ebebeb;
  font-family: 'proxima_nova_regular';
}
a:hover,
a:active,
a:visited {
  text-decoration: none;
}
.logo {
  margin: 0;
}
.logo a {
  background: url("../images/logo.png") no-repeat 0 0;
  display: inline-block;
  height: 55px;
  width: 245px;
  text-indent: -9999px;
}
.logo.logo-small a {
  background: url("../images/logo-small.png") no-repeat 0 0;
  height: 41px;
  width: 184px;
}
.box-margin {
  margin-bottom: 15px;
}
/***************************
****************************
Navigation Styles
****************************
***************************/
.nav-settings {
  padding: 0 15px;
  height: 63px;
  line-height: 63px;
}
@media (min-width: 768px) and (max-width: 992px), (max-width: 767px) {
  .nav-settings {
    height: 64px;
    line-height: 64px;
  }
}
#nav {
  font-family: 'proxima_nova_bold';
  background: url("../images/bg-nav.png") repeat-x 0 0;
  border-bottom: 1px solid #c4c4c4;
  height: 64px;
  font-size: 13px;
}
@media (min-width: 768px) and (max-width: 992px), (max-width: 767px) {
  #nav {
    background: url("../images/bg-nav-mobile.png") no-repeat 50% 0;
    border-bottom: none;
  }
}
#nav .logo {
  padding: 0 15px;
  height: 63px;
  line-height: 63px;
  padding: 0;
  float: left;
  margin-right: 15px;
}
@media (min-width: 768px) and (max-width: 992px), (max-width: 767px) {
  #nav .logo {
    height: 64px;
    line-height: 64px;
  }
}
#nav .logo a {
  margin-top: 4px;
}
#nav .main-nav {
  border-left: 1px solid #c4c4c4;
  border-right: 1px solid #c4c4c4;
  float: left;
}
@media (min-width: 768px) and (max-width: 992px), (max-width: 767px) {
  #nav .main-nav {
    display: none;
  }
}
#nav .lang-selector {
  background: url("../images/bg-nav.png") repeat-x 0 0;
  padding: 0 15px;
  height: 63px;
  line-height: 63px;
  float: right;
}
@media (min-width: 768px) and (max-width: 992px), (max-width: 767px) {
  #nav .lang-selector {
    height: 64px;
    line-height: 64px;
  }
}
#nav .lang-selector ul li a {
  text-transform: capitalize;
}
@media (min-width: 993px) and (max-width: 1200px) {
  #nav .lang-selector {
    padding-left: 0;
  }
}
#nav .user-options {
  background: url("../images/bg-nav.png") repeat-x 0 0;
  border-left: 1px solid #c4c4c4;
  padding: 0 15px;
  height: 63px;
  line-height: 63px;
  float: right;
}
@media (min-width: 768px) and (max-width: 992px), (max-width: 767px) {
  #nav .user-options {
    height: 64px;
    line-height: 64px;
  }
}
#nav .dropdown-menu {
  font-family: 'proxima_nova_regular';
  left: auto;
  right: 0;
}
#nav .nav-toggler {
  padding: 0 15px;
  height: 63px;
  line-height: 63px;
  float: right;
  text-align: right;
  padding: 0 20px;
}
@media (min-width: 1200px), (min-width: 993px) and (max-width: 1200px) {
  #nav .nav-toggler {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 992px), (max-width: 767px) {
  #nav .nav-toggler {
    height: 64px;
    line-height: 64px;
  }
}
.nav-toggler {
  color: white;
  font-size: 30px;
  cursor: pointer;
}
.lang-selector {
  position: relative;
}
.lang-selector span {
  color: black;
  display: inline-block;
  height: 24px;
  line-height: 24px;
}
.lang-selector span + span {
  background: url("../images/sep-1.png") no-repeat 0 0;
  text-transform: uppercase;
  color: #f36822;
  padding-left: 10px;
  margin-left: 10px;
}
.lang-selector i {
  color: #a3a3a3;
}
.user-options {
  color: black;
  position: relative;
}
.user-options .user {
  border-radius: 100%;
  height: 45px;
  width: 45px;
  margin-right: 12px;
}
.user-options i {
  color: #a3a3a3;
}
.main-nav {
  margin: 0;
}
.main-nav li {
  float: left;
  background: url("../images/sep-1.png") no-repeat 100% 50%;
}
.main-nav li:last-child {
  background: none;
}
.main-nav li a {
  text-transform: uppercase;
  display: block;
  color: black;
  height: 64px;
  line-height: 64px;
  padding: 0 15px;
}
@media (min-width: 993px) and (max-width: 1200px) {
  .main-nav li a {
    padding: 0 10px;
  }
}
.main-nav li a:hover {
  color: #f36822;
}
.main-nav li.active a {
  color: white;
  background: url("../images/bg-nav-active.png") repeat-x 0 0;
}
#main-nav-mobile ul {
  margin: 0;
  background-color: #f36822;
}
#main-nav-mobile ul li:last-child {
  border-bottom: none;
}
#main-nav-mobile ul li a {
  color: white;
  display: block;
  padding: 0 33px;
  line-height: 40px;
}
#main-nav-mobile ul li a:hover {
  background-color: white;
  color: #f36822;
}
/***************************
****************************
Top Controls Styles
****************************
***************************/
.top-controls-settings {
  background: url("../images/sep-2.png") no-repeat 100% 50%;
  padding: 0 27px;
  float: left;
  min-height: 34px;
}
#top-controls {
  font-family: 'proxima_nova_bold';
  padding: 18px 0;
  font-size: 13px;
}
#top-controls .type-selector {
  background: url("../images/sep-2.png") no-repeat 100% 50%;
  padding: 0 27px;
  float: left;
  min-height: 34px;
  padding-left: 0;
}
@media (min-width: 768px) and (max-width: 992px) {
  #top-controls .type-selector {
    border-bottom: 1px solid #c4c4c4;
    background: none;
    float: none;
    padding: 0 0 11px 0;
    width: 100%;
    margin-bottom: 15px;
  }
}
#top-controls .top-data {
  background: url("../images/sep-2.png") no-repeat 100% 50%;
  padding: 0 27px;
  float: left;
  min-height: 34px;
}
@media (min-width: 768px) and (max-width: 992px) {
  #top-controls .top-data {
    padding: 0;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #top-controls .top-data + .top-data {
    padding-left: 30px;
  }
}
#top-controls .view-selector {
  float: right;
}
@media (min-width: 768px) and (max-width: 992px) {
  #top-controls .view-selector {
    text-align: right;
    padding: 0;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #top-controls .top-data,
  #top-controls .view-selector {
    width: 33.33%;
  }
}
.type-selector {
  margin: 0;
}
.type-selector li {
  float: left;
}
.type-selector li .btn {
  background: none;
  color: #464646;
  text-transform: uppercase;
  font-size: 13px;
}
.type-selector li .btn:hover {
  color: #f36822;
}
.top-data p {
  font-family: 'proxima_nova_semibold';
  margin: 0;
  line-height: normal;
}
.top-data .badge {
  background-color: #898989;
  border-radius: 4px;
  font-family: 'HelveticaNeueLTStd-Bd';
  font-size: 11px;
  line-height: 16px;
  display: inline-block;
  height: 16px;
  padding: 0 8px;
  float: left;
}
.top-data strong {
  font-weight: normal;
  font-size: 18px;
  line-height: 16px;
  display: inline-block;
  height: 16px;
  float: left;
  margin-left: 5px;
}
.view-selector > span {
  font-size: 14px;
  display: inline-block;
  margin-right: 10px;
}
.view-selector .btn-group {
  border: 1px solid #d3d3d3;
  border-radius: 4px;
}
.view-selector .btn-group .btn i {
  vertical-align: middle;
  font-size: 20px;
}
/***************************
****************************
Graph Styles
****************************
***************************/
.box {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px -3px #000000;
}
.select-wrapper {
  position: relative;
}
.steps {
  background-color: #f4f4f4;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid #e0e0e0;
}
.steps .step {
  background: url("../images/arrow-1.png") no-repeat 100% 0;
  float: left;
  padding: 16px 33px;
  width: 33.33%;
  height: 74px;
}
.steps .step:last-child {
  background: none;
}
.steps .step > span {
  font-family: 'proxima_nova_bold';
  display: inline-block;
  line-height: 40px;
  font-size: 15px;
  color: black;
  margin-right: 15px;
}
.steps .step > span.double-line {
  line-height: 20px;
}
@media (min-width: 768px) and (max-width: 992px) {
  .steps .step > span.double-line {
    float: left;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .steps .step > span {
    margin-right: 10px;
  }
}
.steps .step .select-wrapper {
  display: inline-block;
}
.steps .step.clock {
  padding: 13px 33px;
}
.steps .step.clock > div {
  background: url("../images/ico-1.png") no-repeat 0 0;
  position: relative;
  padding-left: 37px;
}
.steps .step.clock > div > * {
  display: block;
  line-height: normal;
}
.steps .step.clock > div > span {
  font-size: 14px;
}
.steps .step.clock > div > strong {
  font-family: 'proxima_nova_bold';
  font-size: 28px;
  font-weight: normal;
}
.graph-wrapper {
  padding: 14px 33px;
  float: left;
  width: 75%;
}
@media (min-width: 768px) and (max-width: 992px) {
  .graph-wrapper {
    float: none;
    width: 100%;
  }
}
.graph-wrapper h5 {
  font-family: 'proxima_nova_bold';
  margin: 0 0 20px 0;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 14px;
  color: black;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 29px;
}
.graph-wrapper h5 > img {
  vertical-align: middle;
  margin-right: 11px;
}
.graph-wrapper h5 .badge {
  background-color: #ededed;
  border-radius: 4px;
  line-height: 29px;
  padding: 0 6px;
  color: black;
  font-size: 15px;
  font-weight: normal;
}
.graph-wrapper .graph > * {
  float: left;
}
@media (min-width: 768px) and (max-width: 992px) {
  .graph-wrapper .graph > img {
    width: 427px;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .graph-wrapper .graph > img {
    width: 412px;
  }
}
.graph-wrapper .graph .graph-meta-data {
  margin-left: 9px;
}
@media (min-width: 993px) and (max-width: 1200px), (min-width: 768px) and (max-width: 992px) {
  .graph-wrapper .graph .graph-meta-data {
    float: right;
  }
}
.graph-wrapper .graph .graph-meta-data > * {
  float: left;
}
.graph-wrapper .graph .graph-meta-data .meta-buttons {
  margin-left: 19px;
}
.graph-wrapper .graph .graph-meta-data .meta-buttons > * {
  display: block;
}
.graph-wrapper .graph .graph-meta-data .meta-buttons .bwo-btn-5 {
  margin: 24px 0;
}
.slider-wrapper div {
  border-radius: 25px;
  height: 7px;
}
.slider-wrapper > div {
  background-color: #c3c3c3;
  width: 100%;
}
.slider-wrapper > div > div {
  background-color: #09c948;
}
.slider-wrapper-vertical {
  position: relative;
}
.slider-wrapper-vertical div {
  height: 228px;
  width: 20px;
}
.slider-wrapper-vertical > div {
  background-color: #09c948;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
}
.slider-wrapper-vertical > div > div {
  background-color: #ed1c24;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}
.slider-wrapper-vertical p {
  color: white;
  font-family: "proxima_nova_bold";
  font-size: 12px;
  line-height: 20px;
  margin: 0;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  transform: rotate(270deg);
  transform-origin: left top 0;
  width: 228px;
}
.graph-sidebar {
  float: left;
  width: 25%;
  background-color: #f4f4f4;
  border-left: 1px solid #e0e0e0;
  height: 321px;
  border-bottom-right-radius: 5px;
}
@media (min-width: 768px) and (max-width: 992px) {
  .graph-sidebar {
    border-top: 1px solid #e0e0e0;
    border-left: none;
    border-bottom-left-radius: 5px;
    float: none;
    width: 100%;
    height: auto;
  }
}
.graph-sidebar > div {
  padding: 26px 24px;
  color: black;
  border-bottom: 1px solid #e0e0e0;
}
@media (min-width: 768px) and (max-width: 992px) {
  .graph-sidebar > div {
    border-bottom: none;
  }
}
.graph-sidebar > div:last-child {
  border-bottom: none;
}
.graph-sidebar > div p {
  margin: 0;
}
.graph-sidebar > div p > * {
  font-family: 'proxima_nova_bold';
  text-transform: uppercase;
}
.graph-sidebar > div p span {
  font-size: 15px;
}
.graph-sidebar > div p strong {
  font-size: 22px;
  font-weight: normal;
}
@media (min-width: 768px) and (max-width: 992px) {
  .graph-sidebar .top {
    float: left;
    width: 475px;
    border-right: 1px solid #e0e0e0;
  }
}
.graph-sidebar .top h5 {
  font-weight: normal;
  margin: 0 0 5px 0;
  font-size: 14px;
  background: url("../images/ico-2.png") no-repeat 0 0;
  padding-left: 39px;
  line-height: 24px;
}
@media (min-width: 768px) and (max-width: 992px) {
  .graph-sidebar .top h5 {
    float: left;
  }
}
.graph-sidebar .top ul {
  margin: 0;
  padding-left: 39px;
}
@media (min-width: 768px) and (max-width: 992px) {
  .graph-sidebar .top ul {
    float: left;
    padding-left: 0;
  }
}
.graph-sidebar .top ul li {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 20px;
  margin-top: 14px;
  line-height: normal;
}
.graph-sidebar .top ul li:first-child {
  margin-top: 0;
}
.graph-sidebar .top ul li:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
@media (min-width: 768px) and (max-width: 992px) {
  .graph-sidebar .top ul li {
    float: left;
    margin: 0;
    padding: 0;
    border: none;
    margin-left: 30px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .graph-sidebar .bottom {
    float: right;
    width: 245px;
  }
}
.graph-sidebar .bottom p {
  margin-bottom: 25px;
}
@media (min-width: 768px) and (max-width: 992px) {
  .graph-sidebar .bottom p {
    margin-bottom: 10px;
  }
}
.graph-sidebar .bottom p span {
  float: right;
}
/***************************
****************************
Table Styles
****************************
***************************/
#table .table-title {
  font-family: 'proxima_nova_bold';
  background-color: #f4f4f4;
  padding: 18px 33px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 1px solid #e0e0e0;
  text-transform: uppercase;
  color: black;
  font-size: 13px;
  line-height: 32px;
}
#table .table-title .select-wrapper {
  float: right;
}
#table .table-title .select-wrapper ul {
  font-family: 'proxima_nova_regular';
  text-transform: capitalize;
}
#table .table {
  margin-bottom: 0;
  font-size: 13px;
  color: black;
  border-radius: 4px;
}
#table .table thead tr th {
  background-color: #fafafa;
  padding: 20px 8px;
}
#table .table thead tr th:first-child {
  padding-left: 33px;
}
#table .table thead tr th:last-child {
  padding-right: 33px;
}
#table .table tbody tr td {
  padding: 15px 8px;
}
#table .table tbody tr td:first-child {
  padding-left: 33px;
}
#table .table tbody tr td:last-child {
  padding-right: 33px;
}
/***************************
****************************
Sign Up Styles
****************************
***************************/
#sign-up .box {
  padding: 7px;
}
.sign-up {
  position: relative;
  height: 104px;
  overflow: hidden;
}
@media (min-width: 768px) and (max-width: 992px) {
  .sign-up {
    height: 133px;
  }
}
.sign-up > img {
  position: absolute;
}
.sign-up > img.bg {
  right: 0;
  top: 0;
}
.sign-up > img.logo {
  left: 27px;
  top: 25px;
}
@media (min-width: 768px) and (max-width: 992px) {
  .sign-up > img.logo {
    top: 9px;
    left: 27px;
  }
}
.sign-up h4 {
  font-family: 'proxima_nova_bold';
  text-transform: uppercase;
  color: white;
  margin: 0;
  position: absolute;
  right: 268px;
  top: 10px;
  line-height: 32px;
  z-index: 10;
}
@media (min-width: 768px) and (max-width: 992px) {
  .sign-up h4 {
    top: 23px;
    right: 50px;
  }
}
.sign-up p {
  font-family: 'proxima_nova_semibold';
  font-size: 15px;
  margin: 0;
  color: white;
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
}
.sign-up p.first {
  top: 55px;
  right: 259px;
}
@media (min-width: 768px) and (max-width: 992px) {
  .sign-up p.first {
    top: 85px;
    left: 30px;
    right: auto;
  }
}
.sign-up p.second {
  top: 76px;
  right: 357px;
}
@media (min-width: 768px) and (max-width: 992px) {
  .sign-up p.second {
    top: 105px;
    left: 30px;
    right: auto;
  }
}
.sign-up .bwo-btn-7 {
  position: absolute;
  top: 31px;
  right: 24px;
  z-index: 10;
}
@media (min-width: 768px) and (max-width: 992px) {
  .sign-up .bwo-btn-7 {
    bottom: 8px;
    right: 20px;
    top: auto;
  }
}
/***************************
****************************
Logos Styles
****************************
***************************/
.logos-slider .logo-slide {
  line-height: 73px;
  text-align: center;
}
.logos-slider .logo-slide > img {
  vertical-align: middle;
}
/***************************
****************************
Footer Styles
****************************
***************************/
#footer {
  border-top: 1px solid #e0e0e0;
  background-color: white;
  margin-top: 30px;
}
#footer .top {
  padding: 15px 0;
  border-bottom: 1px solid #e0e0e0;
}
#footer .top .logo {
  float: left;
}
#footer .top .social {
  float: right;
}
#footer .top .social a {
  margin-left: 10px;
}
#footer .middle {
  padding: 15px 0;
  border-bottom: 1px solid #e0e0e0;
}
#footer .bottom {
  padding: 15px 0;
}
#footer p {
  font-family: "Myriad Pro Regular", "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-size: 10px;
  color: #959595;
  line-height: 13px;
  margin: 0;
}
#footer p span {
  text-transform: uppercase;
}
#footer p a {
  color: #959595;
  text-transform: uppercase;
}
.social a {
  display: inline-block;
  height: 41px;
  width: 41px;
  border-radius: 100%;
  text-align: center;
  line-height: 36px;
  color: white;
}
.social a i {
  vertical-align: middle;
  font-size: 20px;
}
.social a.fb {
  background-color: #4874b6;
}
.social a.fb:hover {
  background-color: #3e639b;
}
.social a.tw {
  background-color: #00aced;
}
.social a.tw:hover {
  background-color: #0293c9;
}
.social a.gp {
  background-color: #da4835;
}
.social a.gp:hover {
  background-color: #bb3f2f;
}
